.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
outputs
frontend
notebooks
docs
finale
data.rar
data/raw
data/interim
data/external
data/processed/datasets
data/processed/*.csv
data/processed/models/*.csv
*.zip
