# =====================
# DATA (CRITICAL)
# =====================
data/
outputs/

# =====================
# MODELS
# =====================
models/*.pkl
models/*.h5
models/*.joblib

# =====================
# PYTHON
# =====================
__pycache__/
*.pyc

# =====================
# ENV
# =====================
.env

# =====================
# NOTEBOOKS
# =====================
.ipynb_checkpoints/

# =====================
# LOGS
# =====================
logs/
*.log

# =====================
# NODE (frontend)
# =====================
frontend/node_modules/

# =====================
# BUILD FILES
# =====================
dist/
build/

# =====================
# OS FILES
# =====================
.DS_Store
Thumbs.db